h5py==3.7.0
hydra-core==0.11.3
keras==2.9.0
meshcat==0.3.2
numpy==1.22.4
pyglet==1.5.26
pyrender==0.1.45
python-fcl==0.6.1
PyYAML==6.0
scikit-build==0.15.0
scikit-learn==1.1.1
scipy==1.8.1
torch==1.8.1+cu111
torch-cluster==1.5.9
torch-geometric==2.0.4
torch-scatter==2.0.8
torch-sparse==0.6.10
torch-spline-conv==1.2.1
torchaudio==0.8.1
torchvision==0.9.1+cu111
trimesh==3.12.6
typing_extensions==4.2.0
